# Rules in this file were initially inferred by Visual Studio IntelliCode from the D:\VS_repos\CS6610_Final_Project_Area_Lights codebase based on best match to current usage at 3/24/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

